.title label {
    font-size: 350%;
    font-weight: bolder;
}

.first {
    color: azure;
}

.second {
    color: #3A8891;
}

@media screen and (max-width: 465px) {
    .title label{
        font-size: 240%;
    }
}