.form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

li {
    list-style: none;
    max-width: 40vw;
    color: azure;
    border-radius: 3px;
    cursor: pointer;
    word-wrap: break-word;
    font-size: 1em;
}

input {
    border: none;
    width: 100%;
    outline: none;
    font-size: 0.9em;
    font-family: 'Sono', sans-serif;
    background-color: #414752;
    border-radius: 3em;
    color: azure;
    margin-top: 3%;
    padding: 1.8%;
}

.line {
    width: 100%;
    margin-top: 1em;
    border-bottom: 0.1em solid #505969;
    margin-bottom: 1em;
}

.add-btn {
    border: none;
    text-shadow: none;
    background-color: #3a8891af;
    width: 18vw;
    margin-top: 0.8em;
    margin-left: 0.5em;
    border-radius: 3em;
    padding: 0.4em;
    color: azure;
    font-size: 0.9em;
    text-align: center;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.add-btn:hover{
    background-color: azure;
    color: #505969;
    font-weight: bold;
    font-size: 0.9em;
}

.done {
    text-decoration: line-through #32767e 2.5px;
}

.not-doen {
    text-decoration: none;
}

.msg {
    margin-top: 1em;
    color: azure;
}

.item-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.2em;
}

.delete-icon {
    margin-left: 0.5em;
    color: #E0144C;
    cursor: pointer;
}

.delete-icon:hover {
    color: #32767e;
}

@media screen and (max-width: 465px) {
    .add-btn {
        font-size: 0.6em;
    }

    input {
        font-size: 0.6em;
    }

    li {
        font-size: 0.7em;
    }

    .delete-icon {
        font-size: 0.7em;
    }
}