.list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.3em;
}

.input-task {
    padding: 1em;
    width: 37em;
    border: none;
    outline: none;
    background-color: #282c34;
    font-size: 0.9em;
    font-family: 'Sono', sans-serif;
    border-bottom: 1px solid #ffffff2d;
    color: azure;
    margin-top: 1.2em;
}

.input-task::placeholder {
    color: azure;
    text-align: center;
    font-family: 'Sono', sans-serif;
    opacity: 0.2;
}

.list {
    display: flex;
    margin-top: 2em;
}

.list button {
    margin-left: 0.5em;
    margin-top: 9%;
    height: 2em;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #282c34;
}

.list ul {
    display: flex;
    flex-direction: column;
    margin-top: -1em;
}

.list li {
    list-style-type: none;
    /* border-left: 3px solid #7743DB; */
    padding: 0.5em;
    color: azure;
    cursor: pointer;
    font-size: 1.5em;
}

.edit-icon {
    font-size: 1.7em;
    color: #7743DB;
}

.send-btn {
    border: none;
    outline: none;
    background-color: #7743DB;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
    padding: 1em;
    border-radius: 20%;
}

.send-icon {
    color: azure;
    background-color: #7743DB;
    font-size: 1.5em;
}

.done {
    text-decoration: line-through #7743DB 2.5px;
}

.not-doen {
    text-decoration: none;
}